@font-face {
    font-family: instrumentFont;
    src: url("./fonts/InstrumentSerif-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

b {
    color:#BA6B57;
}

body {
    margin: 5%;
    width: 90%;
    background-color: #F2E1C9;
    color: #E0A387;
}

h1
{
    margin: 20px;
    padding: 0; 
    color: #BA6B57;
}

h2 
{
    margin: 0;
    padding: 0; 
    color: #BA6B57;
}

header {
    text-align: center;
}

hr {
    margin: 0;
    padding: 0; 
}

html 
{
    font-family: instrumentFont;
}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: #FFFFFF;
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

p {
    margin-top: 18px;
    padding: 0; 
}

table {
    border-collapse: separate;
    border: none;
    width: 100%;
    border-color:#F2E1C9;
}

ul {
    margin: 0;
    padding: 1rem 5%;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.gallery-item desc {
  padding: 15px;
  text-align: center;
}

.nav-links li a {
    color: #E0A387;
}

a.contact-links {
    color: #BA6B57;    
    text-align: center;
}

a.contact-links:hover {
    color: #F2E1C9;
    text-shadow: 0 0 10px #F2E1C9;
}

.edex-section {
    width: 100%;
    padding: 1rem 5%;
    background: #FFFFFF;
    backdrop-filter: blur(15px);
    margin-bottom: 2rem;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #BA6B57;
    letter-spacing: 1px;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #E0A387;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #F2E1C9;
    text-shadow: 0 0 10px #F2E1C9;

}

.table-left {
    text-align: left;
}

.table-right {
    text-align: right;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

/*I ended up choosing the ID selector below because it provided 
more specificity (1, 0, 0) and leniency in formatting / styling my asset.*/
#image {
    width: 300rem;
    height: 300rem;
    padding: 10rem;
    border-radius: 5%;
    text-align: center;
    display: inline-block;
}