table, th, td {
    font-family:'Courier New', Courier, monospace;
    border-collapse: collapse;
    border: 1px solid;
}

p {
    font-family:'Courier New', Courier, monospace;
}

h1{
    font-family:'Courier New', Courier, monospace;
}