body {
    margin: 5%;
    width: 90%;
}

h2 
{
    margin: 0;
    padding: 0; 
}

hr {
    margin: 0;
    padding: 0; 
}

p {
    margin: 0;
    padding: 0; 
}

table {
    border-collapse: separate;
    border: none;
    width: 100%;
}

ul {
    margin: 0;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.table-left {
    text-align: left;
}

.table-right {
    text-align: right;
}

.edex-section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0%;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

#image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5%;
}